{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "styles/style.css" %}">
    <title>GamesPlay</title>
</head>

<body>
<div id="box">
    <header>

        <!-- navigation bar -->
        <h1><a class="home" href="{% url "home-page" %}">GamesPlay</a></h1>
        <nav>
            <a href="{% url "dashboard" %}">Dashboard</a>
            <a href="{% url "create-game" %}">Create Game</a>
            <a href="{% url "details-profile" %}">Profile</a>
        </nav>
    </header>

    <!-- create game section -->
    <section id="create-page" class="auth">
        <!-- create game form -->
        <form id="create" method="POST">
            {% csrf_token %}
            <div class="container">
                <!-- create game paragraph -->
                <h1>Create Game</h1>
                {{ form }}

                <!-- create game button -->
                <input class="btn submit" type="submit" value="Create Game">
            </div>
        </form>
    </section>

    <!-- footer -->
    <footer>
        &copy;SoftUni Team 2022. All rights reserved.
    </footer>
</div>

</body>
</html>