{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "styles/style.css" %}">
    <title>GamesPlay</title>
</head>

<body>
<div id="box">
    <header>

        <!-- navigation bar -->
        <h1><a class="home" href="{% url "home-page" %}">GamesPlay</a></h1>
        <nav>
           <a href="{% url "dashboard" %}">Dashboard</a>
            <a href="{% url "create-game" %}">Create Game</a>
            <a href="{% url "details-profile" %}">Profile</a>
        </nav>
    </header>
    {% if not games %}
    <!-- Display paragraph: If there are no games-->
    <p class="no-articles">No games yet</p>
        {% else %}
    <!-- Display div "game" with information about every game (if any)-->
    <section id="welcome-world">
        {% for g in games %}
        <!-- first game-->
        <div class="game">
            <div class="image-wrap">
                <!-- game image -->
                <img src="{{ g.image_url }}"
                     alt="{{ g.title }}">
            </div>
            <!-- game title -->
            <h3>{{ g.title }}</h3>
            <!-- game category-->
            <h1>{{ g.category }}</h1>
            <div class="data-buttons">
                <!-- game details button -->
                <a href="{% url "details-game" g.id %}" class="btn details-btn">Details</a>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    </section>

    <!-- footer -->
    <footer>
        &copy;SoftUni Team 2022. All rights reserved.
    </footer>
</div>
</body>
</html>